
.form-group {
  margin-bottom: 20px;
}

// * form-group input 안에 아이콘 있는 경우 button 감싸고 있는 div
.form-group-append {
  display: flex;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding-right: 32px;
}

// * input에 닫기버튼 있는경우 focus 되었을때 icon-close primary 색상으로 변경
.position-relative:focus-within .form-group-append .icon-close {
  background-color: #00c2de !important;
}

.form-label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: map-get($custom-font-size, 20);
}

.form-control,
.form-select {
  min-height: 70px;
  padding: 16px 32px;
  border: 1px solid $gray-f7;
  background-color: $gray-f7;
  font-size: map-get($custom-font-size, 26);
  border-radius: var(--bs-border-radius-sm);
  line-height: 1.21;

  &::placeholder {
    color: $gray-94;
  }

  &:hover {
    border-color: $primary;
  }

  &:disabled,
  &.disabled {
    background-color: $gray-d6;
    border-color: $gray-d6;
    color: $gray-94;
  }

  &.success {
    border-color: $success;
  }

  &.warning {
    border-color: $warning;
  }

  &.error {
    border-color: $danger;
  }

  &:focus {
    border-color: $primary;
    box-shadow: none;
  }
}

.form-search,
.form-input-only {
  padding-right: 64px;
}

.form-search-lg {
  min-height: 80px;
  padding-right: 64px;
}


/* ========================================================================
 * 커스텀 셀렉트
*/
.form-select-wrap {
  position: relative;


  .form-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $gray-f7;
    border: 1px solid $gray-f7;
    border-radius: $border-radius;
    padding: 16px 32px;
    cursor: pointer;
    min-height: 70px;
    font-size: map-get($custom-font-size, 26);
    transition: border 0.2s;

    &.open,
    &:focus,
    &:hover {
      border: 1px solid $primary;
      outline: none;
    }

    &.open {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
}

.form-select-selected.default {
  color: $gray-94;
}

.form-select-list-wrap {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid $primary;
  border-top: 0;
  border-radius: 0 0 10px 10px;
  z-index: 100;
  padding: 0;
  list-style: none;
  font-size: map-get($custom-font-size, 22);
  overflow: hidden;
}

.form-select-list {
  max-height: 475px;
  overflow-y: auto;
}

.form-select.open + .form-select-list {
  display: block;
}

.form-select-list li {
  height: 52px;
  padding: 10px 54px 10px 32px;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  word-break: break-all;
}

.form-select-list li.selected {
  background: $primary-lite2;
  color: $primary;
  font-weight: 500;
  position: relative;
}

.form-select-list li.selected::after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M5 12L10 17L20 7' stroke='%2300C2DE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  width: 24px;
  height: 24px;
  font-size: 18px;
  position: absolute;
  right: 20px;
}

.form-select-list li:hover {
  background: $primary-lite2;
}
