/* ========================================================================
 * LAYOUT
*/
.layout-wrap {
  border: 2px dashed blue;
  display: flex;
  height: 100%;
}

.left-side, .right-side {
  height: 100%;
}

.left-side {
  width: 248px;
  transition: width 0.3s ease;
  margin-right: 20px;
  overflow-x: hidden;
  background-color: white;
  border-radius: $border-radius;
}

.right-side {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  border-radius: $border-radius;
  overflow: hidden;
}

// * 컨텐츠 main
.right-side {
  > main {
    flex-grow: 1; /* 남은 공간 모두 차지 */
    overflow-y: auto; /* 내용이 넘칠 때 스크롤 */
    border: 2px dashed palevioletred;
  }

  > footer {
    height: 50px;
    background-color: gray;
  }
}

/* ========================================================================
 * SIDEBAR
*/
.sidebar-nav {
  border: 2px dashed red;
}

.btn-sidebar-toggle {
  width: 40px !important;
  height: 40px !important;
  flex: 0 0 40px;
  border: 1px solid $gray-ee;
  border-radius: $border-radius-pill;
  padding: 0;
}

.icon-sidebar-toggle {
  width: 10px;
  height: 16px;
  margin: auto;
  background-color: $gray-33;
}

.sidebar-nav .nav {
  padding: 1rem;
}

.left-side.collapsed .sidebar-nav .nav {
  padding: 7px;
}

.left-side.collapsed {
  width: 72px !important;
}

.sidebar-nav .nav li a {
  //transition: opacity 0.3s ease;
  white-space: nowrap;
}

.left-side.collapsed .nav li a {
  opacity: 0;
  width: 0;
  padding: 0;
  overflow: hidden;
}

// * 사이드바 아이콘 사이즈
.is-sidebar {
  width: 24px;
  height: 24px;
}

/* ========================================================================
 * FOOTER
*/
.footer__wrap {
  border: 2px dashed #e2a7ff;
}