/* ========================================================================
 * LAYOUT
*/
.layout-wrap {
  display: flex;
  height: 100%;
}

.left-side, .right-side {
  height: 100%;
}

/* ========================================================================
 * SIDEBAR
*/

.left-side {
  width: 248px;
  flex: 0 0 auto;
  transition: width 0.3s ease;
  margin-right: 20px;
  overflow-x: hidden;
  background-color: white;
  border-radius: $border-radius;
  box-shadow: $custom-shadow;
}

.sidebar-nav__logo-wrap {
  height: 70px;
  padding: 10px 21px;
}

.sidebar-nav__logo {
  display: flex;
}

.btn-sidebar-toggle {
  width: 40px !important;
  height: 40px !important;
  flex: 0 0 40px;
  border: 1px solid $gray-ee;
  border-radius: $border-radius-pill;
  padding: 0;

  &:hover,
  &:active {
    background-color: $gray-ef !important;
  }

  .icon-sidebar-toggle {
    width: 10px;
    height: 16px;
    margin: auto;
    background-color: $gray-33;
  }
}

.sidebar-nav .nav-item .nav-link {
  display: flex;
  align-content: center;
  gap: 10px;
  color: $gray-1e;
  font-weight: $font-weight-medium;
  font-size: map-get($custom-font-size, 18);
  white-space: nowrap;
  padding: 11px;
  border: 1px solid white;
  border-radius: $border-radius;
}

// * 사이드메뉴 호버했을때
.sidebar-nav .nav-item:hover .nav-link {
  border-color: $primary-lite2;
  background-color: $primary-lite2;
}

// * 사이드메뉴 선택했을때 .active
.sidebar-nav .nav-item.active .nav-link {
  border-color: $primary;
  background-color: $primary;
  color: white;
}

// * 사이드바 접혔을때 너비
.left-side.collapsed {
  width: 82px;

  // * 로고 이미지
  .sidebar-nav__logo {
    display: none;
    transition: width 0.3s ease;
  }

  // * 아이콘 사이즈
  .sidebar-nav .nav-item .nav-link {
    width: 50px;
    height: 50px;
    gap: 0;
    align-items: center;
    justify-content: center;
  }

  // * 메뉴명 숨김
  .nav-link span {
    opacity: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
  }

  .sidebar-center-name {
    height: 66px;
    gap: 0 !important;
    justify-content: center;


    // * 센터명 숨김
    > div {
      opacity: 0;
      width: 0;
      padding: 0;
      overflow: hidden;
    }
  }

  // * 센터명 말줄임
  .sidebar-center-truncate {
    //background-color: red;
  }
}

// * 센터명 클릭했을때 배경 색 변경 유지
.sidebar-center-active {
  background: $gray-ef !important;
}

// * 사이드바 아이콘 사이즈
.icon-sidebar {
  background-color: $primary;
  width: 24px;
  height: 24px;
}

.sidebar-nav .nav-item.active .nav-link .icon-sidebar {
  background-color: white;
}

// * 사이드바 하단 **센터
.icon-sidebar-solo {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}

// * 사이드바 하단 센터명 클릭시 나타나는 메뉴
.global-dropdown-menu {
  display: none;
  position: fixed;
  z-index: 100;
  border: 1px solid $primary;
  box-shadow: $custom-shadow2;
  background: white;
  border-radius: $border-radius;
  overflow: hidden;

  li {
    width: 224px;

    a {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 15px 32px;
      font-size: map-get($custom-font-size, 18);
      font-weight: 500;
    }

    &:hover {
      background-color: $primary-lite2;
    }
  }
}

/* ========================================================================
 * CONTENTS
*/
.right-side {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: $border-radius;
  overflow: hidden;
}

// * 컨텐츠 main
.right-side {
  > main {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* 남은 공간 모두 차지 */
    //overflow-y: auto; /* 내용이 넘칠 때 스크롤 */
  }

}
