/* ========================================================================
 * modal 모달 재정의
 */
.modal {
  --bs-modal-width: 580px;
  --bs-modal-inner-border-radius: 20px;
  --bs-modal-header-border-color: #e6e6e6;
  padding-left: 24px;
  padding-right: 24px;
}

.modal-lg {
  max-width: 1000px;
}

.modal-content {
  --bs-modal-border-radius: 20px;
  border: 0;
}

.modal-footer {
  border: 0;
}

.modal-footer > * {
  margin: 0;
}

/* ========================================================================
 * 헤더 있는 모달
 */
.modal-content-has-header {
  .modal-header {
    padding: 30px 30px 24px;
  }

  .modal-title {
    font-size: map-get($custom-font-size, 26);
    font-weight: 700;
  }

  .modal-close {
    width: 32px;
    height: 32px;
  }

  .modal-body {
    padding: 24px 30px;
  }
}

/* ========================================================================
 * 얼럿 모달, 컨펌 모달 스타일
 */
.modal-body {
  padding: 30px;
  font-size: map-get($custom-font-size, 22);
  font-weight: 500;
  height: 100%;
}

.modal-body-inner {
  min-height: 110px;
  align-content: center;
  text-align: center;
  height: 100%;
}

.modal-footer {
  padding: 0 30px 30px;
  gap: 1rem;

  > .btn {
    flex: 1 0 48%;
  }
}

// * 얼럿 모달 내 아이콘 사이즈
.icon-for-state {
  display: flex;
  width: 90px;
  height: 90px;
}

/* ========================================================================
 * 로케이션 조회 모달 안에 있는 작업자명, 작업 상태등 모달 안에 카테고리 버튼 스타일
 */
.modal-category-btn-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  .btn-category {
    width: 101px;
    height: auto;
    padding: 8px 16px;
    font-size: map-get($custom-font-size, 18);
    font-weight: normal;
    border-radius: $border-radius-sm;

    &.active {
      font-weight: 700;
    }
  }
}

/* ========================================================================
 * 로케이션 조회 모달 스타일
 */
.location-search-modal {
  height: 325px;

  .table .badge {
    width: 91px;
  }
}

/* ========================================================================
 * 상품 목록(바코드) 모달 스타일
 */
.barcode-product-list {
  height: 361px;

  .empty-td {
    height: 299px;
    padding: 0;
    border-bottom: 0;
  }
}