/* ========================================================================
 * modal 모달 재정의
 */
.modal {
  --bs-modal-width: 580px;
  --bs-modal-inner-border-radius: 20px;
  --bs-modal-header-border-color: #e6e6e6;
}

.modal-lg {
  max-width: 1000px;
}

.modal-content {
  --bs-modal-border-radius: 20px;
  border: 0;
}

.modal-footer {
  border: 0;
}

.modal-footer > * {
  margin: 0;
}

/* ========================================================================
 * 헤더 있는 모달
 */
.modal-content-has-header {
  .modal-header {
    padding: 30px 30px 24px;
  }

  .modal-title {
    font-size: map-get($custom-font-size, 26);
    font-weight: 700;
  }

  .modal-close {
    width: 32px;
    height: 32px;
  }

  .modal-body {
    padding: 24px 30px;
  }
}

/* ========================================================================
 * 얼럿 모달, 컨펌 모달 스타일
 */
.modal-body {
  padding: 30px;
  font-size: map-get($custom-font-size, 22);
  font-weight: 500;
  height: 100%;
}

.modal-body-inner {
  min-height: 110px;
  align-content: center;
  text-align: center;
  height: 100%;
}

.modal-footer {
  padding: 0 30px 30px;
  gap: 1rem;

  > .btn {
    flex: 1 0 48%;
  }
}

// * 얼럿 모달 내 아이콘 사이즈
.icon-for-state {
  display: flex;
  width: 90px;
  height: 90px;
}

/* ========================================================================
 * 로케이션 조회 모달 안에 있는 작업자명, 작업 상태등 모달 안에 카테고리 형식 스타일
 */
