/* ========================================================================
* 테이블 재정의
*/
.table {
  th {
    line-height: 1.45;
    padding: 16px;
  }

  td {
    line-height: 1.21;
    padding: 16px;
  }
}

/* ========================================================================
* 오른쪽 컨텐츠 영역 조회된 내용 등 페이지의 테이블 너비
*/
.right-side__list-table-sm {
  min-width: 660px;
  font-weight: 500;
}

.right-side__list-table-lg {
  min-width: 1162px;
  font-weight: 500;
}

/* ========================================================================
* 테이블 자체에 border-radius 있고,
* tr, td간 border 가 패딩 안쪽까지 다 생기는 테이블.
*/
.table-full {
  background-color: $white;
  border: 1px solid $gray-e6;
  border-radius: $border-radius;
  //overflow: hidden;

  tr {
    border-top: 1px solid $gray-e6;

    &:first-child {
      border-top: none;
    }
  }

  th {
    //width: 214px;
    font-size: map-get($custom-font-size, 26);
    font-weight: 700;
    padding: 20px 24px;
    border-right: 1px solid $gray-e6;
    vertical-align: top;
    line-height: 1.45;
  }

  td {
    padding: 16px 32px;
    font-size: map-get($custom-font-size, 32);
    font-weight: 700;
    vertical-align: middle;
    line-height: 1.21;
  }

  // * border-bottom 초기화
  .table > :not(caption) > * > * {
    border-bottom: none;
  }
}