<nav class="sidebar-nav">
  <div class="sidebar-nav__logo-wrap d-flex align-items-center">
    <a href="" class="sidebar-nav__logo">
      <img src="/front/images/logo.png" alt="deleo WMS">
    </a>
    <button class="btn-sidebar-toggle bg-white">
      <i class="icon icon-sidebar-arrow-left icon-sidebar-toggle bg-333"></i>
    </button>
  </div>
  <ul class="nav d-flex flex-column gap-3 p-3">
    <li class="nav-item active">
      <a href="dashboard.html" class="nav-link">
        <i class="icon icon-sidebar-home icon-sidebar"></i>
        <span>대시보드</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">
        <i class="icon icon-sidebar-download icon-sidebar"></i>
        <span>입고분류</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">
        <i class="icon icon-sidebar-document icon-sidebar"></i>
        <span>송장검증</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">
        <i class="icon icon-sidebar-upload icon-sidebar"></i>
        <span>출고마감</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">
        <i class="icon icon-sidebar-box icon-sidebar"></i>
        <span>박스적치</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">
        <i class="icon icon-sidebar-calendar icon-sidebar"></i>
        <span>재고이동</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">
        <i class="icon icon-sidebar-search-document icon-sidebar"></i>
        <span>재고실사</span>
      </a>
    </li>
  </ul>
</nav>

<!-- 센터 이름 -->
<a class="sidebar-center-name sidebar-center-toggle btn-clear d-flex gap-10 align-items-center bg-f7 rounded-2 p-10 m-12">
  <i class="icon-sidebar-warehouse icon-sidebar-solo"></i>
  <div class="fs-16 sidebar-center-truncate text-truncate fw-medium flex-shrink-1">
    <span class="fc-35">델레오</span><br>
    <span class="fc-666">청라센터</span>
  </div>
</a>
<!-- / 센터 이름 -->

<!-- 사이드 바에서 my account 클릭하면 나타나는 모달 -->
<div class="modal fade" id="sideBarMyAccountModal" tabindex="-1" aria-labelledby="sideBarMyAccountModal"
     aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-content-has-header">
      <div class="modal-header">
        <h5 class="modal-title">내 정보</h5>
        <button type="button" class="btn-close is-32 p-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="form-label">아이디</label>
          <div class="position-relative">
            <input type="text" class="form-control form-input-only" placeholder="아이디" value="deleo">
            <div class="form-group-append" style="display:none;">
              <button class="btn-clear" type="button" tabindex="-1">
                <i class="icon icon-close is-32 bg-666"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group mb-6">
          <label for="" class="form-label">센터</label>
          <input type="text" value="청라센터" class="form-control" readonly>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / 사이드 바에서 my account 클릭하면 나타나는 모달 -->