/* ========================================================================
 * 출고마감 상태
*/
.shipping-close-status-wrap {
  flex-wrap: nowrap;
}

.shipping-close-status {
  border: 1px solid $gray-e6;
  border-radius: $border-radius;
}

.shipping-close-status-item {
  flex: 1 1 100%;
  border-top: 1px solid $gray-e6;

  &:first-child {
    border-top: 0;
  }

  @include media-breakpoint-up(lg) {
    flex: 1 1 50%;
    flex-wrap: wrap;
    border-top: 0;
    &:nth-child(even) {
      border-left: 1px solid $gray-e6;
    }
    &:nth-child(4n+1),
    &:nth-child(4n+2) {
      border-bottom: 1px solid $gray-e6;
    }
  }
}